body {
  font-family: "Roboto", sans-serif;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #132a66;
  overflow: auto;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
    width: 100%;
    padding-right: -15px !important; 
    padding-left: -15px !important;
    }
    
/* Navbar links */
.navbar a {
  font-weight: 300;
  float: left;
  text-align: center;
  padding: 5px;
  color: ;
  text-decoration: none;
  font-size: 17px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #292a2b;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.slider-main .active {
  border-bottom: none;
  border-image-slice: none;
  border-width: none;
  border-image-source: none;
}

.w-100 {
  height: 600px;
  width: 900px;
}

.card img {
  height: 150px;
  width: 150px;
  margin-left: 20%;
}

.card-block {
  padding: 20px;
}



.btn-outline-success {
    color: white !important;
    border-color: midnightblue !important;
    font-weight: 900 !important;
}

.btn-outline-success:hover {
    color: midnightblue !important;
    background-color: #fff !important;
}

#client-testimonial-carousel {min-height: 200px;}

#client-testimonial-carousel {
  background-color: #132A66;
}


/*ABOUT US*/
.about-us-p{
 padding: 20px;
    font-size: 20px;
}


/*ABOUT US*/


/*GET IN TOUCH*/

.get-in-touch{
  color: #565252; 
  font-size: 40px; 
  font-weight: 800;
}
/*GET IN TOUCH*/

/*FORM CSS STARTS*/

form button {
  width: 30% !important;
}

.btn-info:hover {
    color: #fff;
    background-color: #132A66 !important;
    border-color: white !important;
}

/*FORM CSS ENDS*/



/*COURSES CARDS*/

.card-title
{   letter-spacing: 2px;
   }

.col-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.card-text li{
    padding: 5px; 
  color: black;
}

.card-text li a{
  color: black;
  font-weight: 600;
}

.card-text li a:hover {
    color: #132A66;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}


.courses .card {
  border-radius: 20px;
  border-top: 4px solid #132A66;
}

.courses h3{
  font-weight: 800; font-size: 30px;
}

.courses p{
   padding: 5px; 
   font-weight: 400; 
   font-size: 15px;
}

.courses h5{
  font-size: 15px; 
  font-weight: 700; 
  padding: 5px;
}


.courses .btn-primary{
font-family: 'Poppins', sans-serif;
font-weight: 300; 
font-size: 12px; 
padding: 10px; 
background-color: #132A66; 
width: 80%;
border-radius: 15px; 
border-color: #132A66;
}

/*COURSES CARDS*/

/*COURSE VIEW MORE BUTTON*/

#view-morebtn{
    width: 50%;
    font-weight: 700;
    color: #132A66;
    outline: 0 !important;
    }


.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.#view-morebtn .fa {
  font-size: 1pc !important;
}

#view-morebtn .fa :hover{
  transform: scale(2);
}

/*COURSE VIEW MORE BUTTON*/

#view-more{
  display: none;
}


/*TESTIMONIALS*/

.testimonial-section {
  font-family: 'Hind', sans-serif;
  padding: 80px 0;
  text-align: center;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.testimonial-pics {
  padding: 40px 0;
}

.testimonial-pics img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: .3s;
  cursor: pointer;
}

.testimonial-pics img:hover, .testimonial-pics img.active {
  filter: none;
}


.testimonial-contents {
  max-width: 600px;
  margin: auto;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

.testimonial p {
  color: #5c5c5c;
  margin-bottom: 20px;
}

.testimonial .description {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
}

/*TESTIMONIALS*/

/* Footer */
.site-footer {
  background-color: #132a66;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #FFF;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: lightgrey;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: white;
  color: midnightblue;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* Footer */
