body {
  font-family: "Roboto", sans-serif;
}


/*Scroll to Top Button*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



/*Scroll to Top Button*/


.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.navbar {
    position: relative;
    min-height: auto;
      margin-bottom: 0;
}

/*TOP-BAR*/

.navbar-right{
  margin-right: 5%; 
}

.topbar .navbar{
  background-color: lightgray;
  height: 8%;
}


.social-part i {
    padding: 0px 5px 0px 5px;
}

.social-part .fa{
  font-size: 19px;
}


.topbar .social-part i{
  display: inline-block;
}

.topbar .social-part a{
  text-decoration: none;
  color: black;
}

.topbar .navbar-brand{
  padding-top: 0px !important;
  font-size: 15px;
 font-family: 'Poppins', sans-serif;
}

/*TOP-BAR*/

/* Style the navigation bar */

.navbar-nav{
  margin-right: 10%;
}

.navbar a{
  margin-left: 6%;
}

.navbar {
  width: 100%;
  background-color: #132a66;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  height: 20%;
}

.container-fluid {
    width: 100%;
    padding-right: -15px !important; 
    padding-left: -15px !important;
    }
    
/* Navbar links */
.navbar a {
  font-weight: 300;
  float: left;
  text-align: center;
  padding: 5px;
  color: ;
  text-decoration: none;
  font-size: 17px;
}

#enroll {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 900;
    border-color: #ffa916;
    background-color: #ffa916;
    border: 1px solid;
    border-radius: 30px;
    color: #ffffff;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.10);
}

.nav-item button:focus {
    outline: none; 
    outline: none;
}

.nav-item button: hover{
  color: #132A66;
  background-color: white;
  border: none;
}




.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #292a2b;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.slider-main .active {
  border-bottom: none;
  border-image-slice: none;
  border-width: none;
  border-image-source: none;
}

.w-100 {
  height: 515px;
  width: 900px;
}

.card-block {
  padding: 20px;
}



.btn-outline-success {
    color: white !important;
    border-color: midnightblue !important;
    font-weight: 900 !important;
}

.btn-outline-success:hover {
    color: midnightblue !important;
    background-color: #fff !important;
}

#client-testimonial-carousel {min-height: 200px;}

#client-testimonial-carousel {
  background-color: #132A66;
}


/*ABOUT US*/
.about-us-p{
padding: 21px;
    font-weight: 300;
    font-size: 20px;
}


/*ABOUT US*/


/*GET IN TOUCH*/

.get-in-touch{
  color: #565252; 
  font-size: 40px; 
  font-weight: 800;
}
/*GET IN TOUCH*/

/*Countdown CSS*/

.countdown{
  padding: 25px;
   color: #808080;
    text-align: center; 
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
  position: relative;
  display:inline;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: 30px auto; position: relative;}
.counter { background-color: transparent; padding: 20px 0; border-radius: 5px;}
.count-title {
    color: #565252;
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: font-family: 'Poppins', sans-serif;
}
.count-text {
    color: #565252;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.fa-2x { margin: 0 auto; float: none; display: table; color: #132A66; }

/*Countdown CSS*/



/*FORM CSS STARTS*/

form button {
  width: 30% !important;
}

.btn-info:hover {
    color: #fff;
    background-color: #132A66 !important;
    border-color: white !important;
}

/*FORM CSS ENDS*/

/*FACULTY*/




.f_members .card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.f_members .card img{
  padding: 30px 0px 10px 0px;
}

.f_members p{
  font-size: 13px;
  padding: 05px 20px 10px 20px;
}

.f_members .card-title{
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.f_members .card-img-top {
    width: 100px !important;
    height: auto !important;
    margin: 0 auto !important;
}


/*FACULTY*/


/*COURSES CARDS*/

.card-title
{   letter-spacing: 2px;
  font-family: 'Poppins', sans-serif; 
   }

.col-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.card-text li{
    padding: 5px; 
  color: black;
}

.card-text li a{
  color: black;
  font-weight: 600;
}

.card-text li a:hover {
    color: #132A66;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}


.courses .card {
  border-radius: 20px;
  border-top: 4px solid #132A66;
}

.courses h3{
  font-weight: 800; font-size: 30px;
}

.courses p{
   padding: 5px; 
   font-weight: 400; 
   font-size: 15px;
}

.courses h5{
  font-size: 15px; 
  font-weight: 700; 
  padding: 5px;
}


.courses .btn-primary{
font-family: 'Poppins', sans-serif;
font-weight: 300; 
font-size: 12px; 
padding: 10px; 
background-color: #132A66; 
width: 80%;
border-radius: 15px; 
border-color: #132A66;
}



/*COURSES CARDS*/

/*COURSE VIEW MORE BUTTON*/

#view-morebtn{
    width: 50%;
    font-weight: 700;
    color: #132A66;
    outline: 0 !important;
    }


.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.#view-morebtn .fa {
  font-size: 1pc !important;
}

#view-morebtn .fa :hover{
  transform: scale(2);
}

/*COURSE VIEW MORE BUTTON*/

#view-more{
  display: none;
}


/*TESTIMONIALS*/

.testimonial-section {
  font-family: 'Hind', sans-serif;
  padding: 20px 0;
  text-align: center;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.testimonial-pics {
  padding: 40px 0;
}

.testimonial-pics img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: .3s;
  cursor: pointer;
}

.testimonial-pics img:hover, .testimonial-pics img.active {
  filter: none;
}


.testimonial-contents {
  max-width: 600px;
  margin: auto;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

.testimonial p {
  color: #5c5c5c;
  margin-bottom: 20px;
}

.testimonial .description {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
}

/*TESTIMONIALS*/


/*FORM*/

form .form-control{
  border-radius: 20px;
}

textarea.form-control {
    border-radius: 10px !important;
}


form button{
  width: 100% !important;
  border-radius: 20px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #132A66 !important; 
    outline: 0;
    box-shadow: none !important;
}

/*FORM*/

/* Footer */
.site-footer {
  background-color: #132a66;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #FFF;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
  font-size: 13px;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: lightgrey;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: white;
  color: midnightblue;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* Footer */
